<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" routerLink="/" routerLinkActive="active" (click)="reset()">M
      WebStore</a>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav text-capitalize text-center mx-auto">
          <li
            class="dropdown nav-item d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center visible tada animated">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">Products</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" routerLink="/store" routerLinkActive="active">
                Product Category #1</a>
            </div>
          </li>
        </ul>
        <span class="navbar-text actions">
        <a class="login" routerLink="/admin" routerLinkActive="active" [hidden]="!isLoggedIn">Admin</a>
        <a class="login" routerLink="/logout" routerLinkActive="active" [hidden]="!isLoggedIn" (click)="logout()">Log out</a>
        <a class="login" routerLink="/login" routerLinkActive="active" [hidden]="isLoggedIn">Log In</a>
        <a class="btn btn-light action-button" role="button" routerLink="/register"
           routerLinkActive="active" [hidden]="isLoggedIn">Sign Up</a></span></div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
